@import "../../styles/global.scss";

.menuListSm {
  .link {
    display: block;
    padding: 0.5rem;
    background-color: $primary;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    color: $white;
    text-decoration: none;
    font-family: IntroBold;
    font-weight: 600;
    width: 160px;
    // font-family: ;
    &:nth-last-child(1) {
      border-radius: 0 0 3rem 0;
      border-bottom: 0;
    }
    &:hover {
      color: $black;
    }
  }
}
